layout {
    //{ "Σ", "Φ", "Ψ", "λ", "Ω" }
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children //The Default Pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="" focus=true borderless=true split_direction="Vertical" {
        pane split_direction="Vertical" {
            pane name="norg" borderless=true command="nu" cwd="~/neorg" {
            }
        }
    }
    tab name="Ψ" cwd="~/.config/nvim" {
        pane stacked=true {
            pane name="NVIM Configs" command="nu"
        }
    }
    tab name="Σ" cwd="~/Programming"{
        pane name="General"
    }
    tab name="λ" {
        pane name="Monitor" {
            command "btop"
        }
    }
    tab name=""{
        pane name=" ::Mail"{
        }
    }
}

session_name "Dev::  "
attach_to_session true
