layout {
    //default template::
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children //The Default Pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name=" " focus=true borderless=true {
        pane stacked=true {
            pane name="Nix:: Aeon" borderless=false expanded=true cwd="~/Downloads/github_dumps/nix-projects/organist"
        }
    }
    tab name=" :: Dev" cwd="~/Programming/Work" {
        pane name="JS/TS" stacked=true {
                    pane name=" :: Deno (deno2nix)" {}
                    pane name="Svelte Project" cwd="~/Downloads/github_dumps/svelte-axum-project/"
        }
    }
    tab name=" :: Docs (typst)" cwd="~/Programming/Book_Excercises/classes/"{
        pane stacked=true {
            pane name="Typst Notes:: Books"
            pane name="LaTex Notes:: Books"
        }
    }
    tab name=" :: Dev (Crane)" {
        pane name=" :: Rust" stacked=true {
            pane name="Rust"
        }

    }
    tab name=" :: Dev (GoMod2nix)" cwd="~/Programming/Book_Excercises/Lexer/go_lexer" {
        pane name=" :: Go Dev" {}
    }
    tab name=" :: Dev (Poetry2nix)" cwd="~/Programming/Work/Poetry_Projects/" {
        pane stacked=true {
            pane name=" :: Poetry Project"
            pane name=" :: py_repl"
        }
    }
    tab name=" :: Dev (Haskell-flake)" cwd="~/Programming" {
        pane name=" :: Haskell Dev" cwd="~/Programming/OSS" {}
    }
}

session_name "  :: Flake_Dev"
attach_to_session true
